@font-face {
  font-family: GeistMono;
  src: url("./Geist.Mono/GeistMonoVariableVF.woff2") format('woff2');
}


:root {
  color-scheme: light dark; /* both supported */
}

body {
  font-family: GeistMono;
  display: flex;
  place-items: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#app {
  display: grid;
  grid-template-columns: 150px 2fr;
  grid-template-areas: "header main";
  width: 100%;
  height: 100%;
}

header{
  grid-area: header;
  align-self: start;
  border-right: 5px solid;
  border-image: 
    linear-gradient(
      to bottom, 
      #fff, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
  height: 100vh;
}

main{
  grid-area: main;
  width: 98%;
  justify-self: center;
}

a{
  text-decoration: none;
  color: #ffff;
}

button{
  cursor: pointer;
  font-weight: bold;
  font-family: GeistMono;
}

.title{
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ffff;
  display: flex;
}